body {
	background: floralwhite;
	font-family: Baskerville ;
	font-size: 16px;
	padding:  50px;
}

h1, h2, h3, p, {
	font-family:  Georgia;
	position: relative;
	display: flex;
}

h1{
	color: cornflowerblue;
/*	font-size: 32px;*/
  .thick-blue-border 
    border-width: 500px;
    border-style: solid;
    border-radius: 50%;
 
}
h1:hover {
	transform: scale(1.1);
	display: center;
}

h2{
	color:  lightpink;
}

i {
	color: navy;
}

a {
	color: lightpink;
}
a:hover {
    color: blue;
  }

li {
	color: navy;
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;

}

p {
	color:  navy;
	line-height: 1.4em;
	padding: 10px ;


}
div:hover{
      transform: scale(1.1);
    }


.secondary {
	background-color: none;
	color: darkgoldenred;
}

#special{
	background-color: darkred;
	color: lightpink;
}

.page{
	border:  0.5px transparent lightpink;
	background-color: cornflowerblue;

	padding: inherit;
}

input {
	padding:  6px  12px 6px 12px;
	border: 1px solid light blue;
	color: skyblue;}
input.submit:hover {
	background-color: whitesmoke;
}
input.submit:active {
	background-color: chocolate;
}
input.text {
	color: deepskyblue;
}
input.text.focus {
	color: blue;
}





