body {
	background: whitesmoke;
	font-family: Georgia, Georgia neue, Georgia Blue;
}

h1, h2, h3, p, li {
	font-family:  Helvetica Bold;
	color:  black;
}

a {
	color: lightpink;
}
p {
	background-color:;
	color:  navy;
	padding:  10px 10px 10px 10px;
}

.secondary {
	background-color: none;
	color: darkgoldenred;
}

#special{
	background-color: darkred;
	color: lightpink;
}